/* GLOBAL */
html{
    background-color: rgb(214, 212, 212);
}

body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: center;
}


p{
    margin-left: 10px;
}

/*header*/
.fixed-bar {
    height: 60px;
}

.logo {
    width: 20px;
}

.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #521751;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

/*main*/
.home , .portfolio , .draw , .contact{
    background-color: grey;
    padding: 6px;
    margin: 4px;
}

/*
HOME
*/
.trip-text {
    display: flex;
    font-size: large;
}

.trip-text p {
    background-color: #521751;
    padding: 3px;
    margin: 0;
    width: 50%;
    text-align: center;
    color: white;
}

.feedback {
    position: relative;
    bottom: 18.4px;
    background-color: #521751;
    color: white;
    text-align: center;
    padding: 3px;
    margin: 0;
}

.trip-images img {
    width: 50%;
    height: 100%;
}
.trip-images{
    display: flex;
}
/*footer*/
.review-clients {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    background-color: rgba(213, 211, 214, 0.774);
}

.review-clients img {
    width: 15%;
} /*HOME*/

/*
PORTFOLIO
*/
.eiffel {
    width: 400px;
    margin: 10px;
    background-color: rgba(213, 211, 214, 0.774) ;
} /*PORTFOLIO*/

/*
COLOR GAME
*/
